@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;

    --primary: #0f1729;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f1729;

    --muted: #f1f5f9;
    --muted-foreground: #65758b;

    --accent: #f1f5f9;
    --accent-foreground: #0f1729;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e1e7ef;
    --input: #e1e7ef;
    --ring: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --radius: 0.5rem;

    --editor: #fffffe;
  }

  .dark {
    --background: #1d1d1d;
    --foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #252525;

    --secondary: #343434;
    --secondary-foreground: #f8fafc;

    --muted: #1c1c1c;
    --muted-foreground: #b3b3b3;

    --accent: #383838;
    --accent-foreground: #f8fafc;

    --destructive: #fb2222;
    --destructive-foreground: #f8fafc;

    --border: #414141;
    --input: #303030;
    --ring: #cbd5e1;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #1d1d1d;
    --popover-foreground: #f8fafc;

    --editor: #1e1e1e;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #root {
    @apply min-h-screen flex flex-col;
  }
}

/* @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
  
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
  
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
  
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
  
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
  
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
  
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
  
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  } */
