@import "tailwindcss";
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-src-primary: var(--src-primary);
  --color-src-secondary: var(--src-secondary);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-editor: var(--editor);
  --color-divider: var(--divider);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;
    --primary: #0f1729;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f1729;
    --muted: #f1f5f9;
    --muted-foreground: #65758b;
    --accent: #f1f5f9;
    --accent-foreground: #0f1729;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e1e7ef;
    --input: #e1e7ef;
    --ring: #020817;
    --card: #ffffff;
    --card-foreground: #020817;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --radius: 0.5rem;
    --editor: #fffffe;
    --divider: #e1e7ef;
    --src-primary: #25a046;
    --src-secondary: #088d42;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #f8fafc;
    --primary: #f8fafc;
    --primary-foreground: #252525;
    --secondary: #343434;
    --secondary-foreground: #f8fafc;
    --muted: #1c1c1c;
    --muted-foreground: #b3b3b3;
    --accent: #383838;
    --accent-foreground: #f8fafc;
    --destructive: #fb2222;
    --destructive-foreground: #f8fafc;
    --border: #414141;
    --input: #303030;
    --ring: #cbd5e1;
    --card: #020817;
    --card-foreground: #f8fafc;
    --popover: #1d1d1d;
    --popover-foreground: #f8fafc;
    --editor: #1e1e1e;
    --divider: #232323;
    --src-primary: #39e265;
    --src-secondary: #06b250;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #root {
    @apply min-h-dvh flex flex-col;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  /* *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  } */
}

@utility failing-glyph {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="%23ef4444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>')
    no-repeat center center / 70% 70%;
}

@utility passing-glyph {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%2322c55e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>')
    no-repeat center center / 70% 70%;
}

@utility failing-line-bg {
  @apply bg-red-500/10;
}

@utility scrollbar-hide {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
