on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Run Tests and Generate Coverage
        run: |
          go test -coverpkg=all ./... -coverprofile=coverage.txt